---
import { getLangFromUrl } from '../i18n/utils.js';
const lang = getLangFromUrl(Astro.url);
---

<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div class="[&>p]:mb-4 text-lg text-gray-800 dark:text-gray-100 text-pretty order-2 md:order-1">
    {lang === 'en' ? (
  /* Versión en Inglés */
  <p>
    I'm Paola, a Full Stack Developer. I first focused on backend development, 
    specializing in Node.js and Java. My experience includes designing business logic, 
    developing APIs, and database management.
  </p>
  <p>
    I later complemented my skills with frontend development, working with React and Astro 
    to create dynamic and efficient interfaces, ensuring each application offers a 
    smooth and intuitive user experience.
  </p>
  <p>
    Through my freelance projects, I've learned to solve real-world problems 
    independently. Now, I would like to join a team where I can collaborate with 
    other developers, take on new challenges, and keep growing and learning along the way.
  </p>
) : (
  /* Versión en Español */
  <p>
    Soy Paola, desarrolladora Full Stack. Mi primer enfoque fue en backend, 
    especializándome en Node.js y Java. Mi experiencia incluye el diseño de lógica 
    de negocio, desarrollo de APIs y gestión de bases de datos.
  </p>
  <p>
    Luego complementé mis conocimientos en frontend, trabajando con React y Astro 
    para crear interfaces dinámicas y eficientes, y que cada aplicación ofrezca una experiencia 
    de usuario fluida e intuitiva.
  </p>
  <p>
    A través de mis proyectos como freelance, aprendí a resolver problemas reales de 
    forma independiente. Actualmente me gustaría formar parte de un equipo donde pueda 
    colaborar con otros desarrolladores, enfrentar nuevos desafíos, seguir creciendo y 
    aprendiendo en el camino.
  </p>
)}
  </div>
  <!-- <img src="https://placehold.co/400x400" alt="" class="rounded-full size-64 order-1 md:order-2"> -->
</section>
