<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div class="[&>p]:mb-4 text-lg text-gray-800 dark:text-gray-100 text-pretty order-2 md:order-1">
    <p>
      Soy Paola, desarrolladora web con enfoque en backend, especializada en
      <strong>Node.js</strong> y <strong>Java</strong>, con experiencia en bases de datos, diseño de lógica de
      negocio y APIs.
    </p>
    <p>
      Actualmente estoy ampliando mis conocimientos en frontend con <strong>React</strong> y
      <strong>Astro</strong>, con el objetivo de desarrollar aplicaciones completas y mejorar la
      experiencia del usuario.
    </p>
    <p>
      He trabajado en proyectos personales y freelance, lo que me permitió
      enfrentar desafíos reales. En este momento me encuentro en búsqueda de mi
      primer empleo profesional como desarrolladora, con muchas ganas de
      aprender y crecer dentro de un equipo.
    </p>
  </div>
  <!-- <img src="https://placehold.co/400x400" alt="" class="rounded-full size-64 order-1 md:order-2"> -->
</section>
