---
import ContactForm from "./ContactForm.astro"

---
<section class="">

    <p class="text-xl mb-4 text-center text-gray-800 dark:text-purple-200/90"> ¿Tenés un proyecto en mente o buscás sumar talento a tu equipo? </p>
    <p class="text-3xl mb-10 text-gray-800 dark:text-white text-center"> <strong>¡Trabajemos juntos!</strong></p>

    <ContactForm></ContactForm>
</section>