---
import { isValidEmail } from "@/services/contactValidate";


const errors = { name:"", email:"", message:""}

if(Astro.request.method === "POST"){
    try {
        const data = await Astro.request.formData()
        const name =  data.get("name")
        const email = data.get("email")
        const message = data.get("message")

        
    if (typeof name !== "string" || name.length < 3) {
      errors.name = "El nombre es obligatorio";
    }

    if (typeof email !== "string" || !isValidEmail(email)) {
      errors.email = "Email inválido";
    }

    if (typeof message !== "string" || message.length < 3) {
      errors.message = "El mensaje debe tener al menos 10 caracteres";
    }

    const hasErrors = Object.values(errors).some(Boolean);

    if (!hasErrors) {
      // acá luego envías el mail
      console.log({ name, email, message });
    }

    } catch (error) {
        if(error instanceof Error){
        console.error(error.message)
    }
}
}
---

<section class="bg-white dark:bg-[#00091D]/70 rounded shadow-2xl shadow-white/10">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      <!-- <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Contact Us</h2>
      <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Got a technical issue? Want to send feedback about a beta feature? Need details about our Business plan? Let us know.</p> -->
      <form id="contact-form" class="space-y-8" method="POST">
          <div>
              <label for="name" class="block mb-2 text-lg font-medium text-gray-900 dark:text-gray-300">Nombre completo</label>
              <input type="text" id="name" name="name" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Escribe tu nombre" >
              {errors.name && <p>{errors.name}</p>}
          </div>
          <div>
              <label for="email" class="block mb-2 text-lg font-medium text-gray-900 dark:text-gray-300">Email</label>
              <input type="email" id="email" name="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="name@ejemplo.com">
              {errors.email && <p>{errors.email}</p>}
          </div>
          <div class="sm:col-span-2">
              <label for="message" class="block mb-2 text-lg font-medium text-gray-900 dark:text-gray-400">Mensaje</label>
              <textarea id="message" name="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Deja tu comentario..."></textarea>
              {errors.message && <p>{errors.message}</p>}
          </div>
          <button type="submit" class= "bg-white/5 border dark:border-white/10 border-gray-300 rounded-full inline-flex justify-center items-center gap-x-2 py-1 px-2 md:py-2 md:px-4 text-lg md:text-base transition hover:scale-110 hover:bg-white/10">Enviar</button>
      </form>
  </div>
</section>
