---
import ContactForm from "./ContactForm.astro"
---
<section class="">

    <h3 class="text-lg mb-10"> ¿Tenés un proyecto en mente o buscás sumar talento a tu equipo? <br> Escribime y vemos qué podemos crear juntos.</h3>
    
    <ContactForm></ContactForm>
</section>