---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '@fontsource-variable/onest';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="" href="/gato2.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		 
    <!-- <script is:inline>
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.documentElement.classList.add('dark');
      }
    </script> -->
	<script is:inline>
  const theme = (() => {
    // 1. Si el usuario ya eligió un tema antes, usamos ese
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    // 2. Si no, usamos la preferencia del sistema
    return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
  })();

  // Aplicamos la clase correspondiente al HTML
  if (theme === 'light') {
    document.documentElement.classList.remove('dark');
  } else {
    document.documentElement.classList.add('dark');
  }

  // Guardamos para que no parpadee al recargar
  window.localStorage.setItem('theme', theme);
</script>
	</head>

	<body id="top">
		<div class="fixed inset-0 z-[-2] min-h-full w-full bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] 
     		dark:bg-[#00091d] dark:bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] dark:bg-[size:20px_20px]">
		</div>
		<Header></Header>
		
		<main class="flex flex-col items-center justify-center w-full px-4 sm:px-6">
            <slot />
        </main>

		<Footer/>
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}

	html {
		font-family: 'Onest Variable', system-ui, sans-serif;
		scroll-behavior: smooth;
		scroll-padding-top: 80px;
		}
		
	body {
		overflow-x: hidden; /* Esto mata la franja negra lateral */
        width: 100%;
        margin: 0;
        padding: 0;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
